<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initialscale=1.0, user-scalable=0" name="viewport">
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/animate.min.css" type="text/css">
		<link rel="stylesheet" href="/css/paper-dashboard.css" type="text/css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300" type="text/css">
		<link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
		<link rel="stylesheet" href="/css/my.css" type="text/css">
		<title>PsyTools - {{title}}</title>
	</head>
	<body>
		<div class="wrapper">
			{{>layout/sidebar}}
			<div class="main-panel">
				{{>layout/navbar}}
				<div class="content">
					<div class="container-fluid">
						<div class="row">