<div class="sidebar" data-background-color="white" data-active-color="danger">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="/home" class="simple-text">PsyTools</a>
		</div>
		<ul class="nav">
			<li>
				<a href="/home/patient" class="simple-text">
					<i class="ti-user"></i>
					<p>Patients</p>
				</a>
			</li>
			<li>
				<a href="/home/agenda" class="simple-text">
					<i class="ti-calendar"></i>
					<p>Agenda</p>
				</a>
			</li>
			<li>
				<a href="/home/finances" class="simple-text">
					<i class="ti-bar-chart"></i>
					<p>Finances</p>
				</a>
			</li>
			<!-- <li>				
				<a href="/home/admin" class="simple-text">
					<i class="ti-server"></i>
					<p>Administration</p>
				</a>
			</li> -->
			<li>				
				<a href="/home/settings" class="simple-text">
					<i class="ti-settings"></i>
					<p>Paramètres</p>
				</a>
			</li>
		</ul>
	</div>
</div>